/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 16px;
    width: 100%;
  }

  .mat-cell {
    font-size: 18px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .pointer {
    cursor: pointer;
  }

  .icon {
    margin-right: 25px;
    /* color:#212529; */
    color: gray;
    text-shadow: darkgray; 
  }

  .icon:hover {
    color: crimson;
    /* color: #3f51b5; */
  }