<h1 mat-dialog-title>{{data.heading}} Customer Details</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.cust.firstName" placeholder="First name" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.cust.lastName" placeholder="Last name" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select [(value)]="data.cust.compId" placeholder="Company">
      <mat-option *ngFor="let comp of data.compList" [value]="comp.comp_id" required>{{ comp.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.cust.email" placeholder="e-mail" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.cust.phone" placeholder="phone" required>
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" class="btn btn-outline-secondary">Cancel</button>
  <button mat-button [mat-dialog-close]="data.cust" class="btn btn-outline-success" cdkFocusInitial >Submit</button>
</div>