<h1 mat-dialog-title>{{data.heading}} Customer Details</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.cust.firstName" placeholder="First name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.cust.lastName" placeholder="Last name">
  </mat-form-field>
  <br>

  <!-- <mat-form-field>
    <input matInput [(ngModel)]="data.cust.company" placeholder="Company">
  </mat-form-field> -->
  <mat-form-field>
    <mat-select [(value)]="selected" placeholder="Company">
      <mat-option *ngFor="let comp of data.compList" [value]="comp.comp_id">
        {{ comp.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.cust.email" placeholder="e-mail">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.cust.phone" placeholder="phone">
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="[data.cust, selected]" cdkFocusInitial>Submit</button>
</div>