<h1 mat-dialog-title>{{data.heading}} Company Details</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="selected.name" placeholder="Name" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="selected.address" placeholder="Address" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="selected.country" placeholder="Country" required>
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" class="btn btn-outline-secondary">Cancel</button>
  <button mat-button [mat-dialog-close]="selected" class="btn btn-outline-success" cdkFocusInitial>Submit</button>
</div>
