<h1 mat-dialog-title>New Customer Details</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.firstName" placeholder="First name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.lastName" placeholder="Last name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.company" placeholder="Company">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.email" placeholder="e-mail">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.phone" placeholder="phone">
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
</div>