@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

body {
    padding: 0;
    padding-top: 5rem;
    margin: 0;
  }

.container {
    padding: .5rem 1rem;
  }

@media (min-width: 1200px){
    .container {
        max-width: 100%;
    }
  }
  