h1 {
    color: #3f51b5;
}

.pointer {
    cursor: pointer;
  }

.icon {
    /* margin-right: 15px; */
    font-size: 30px;
    color: gray;
    text-shadow: darkgray; 
  }
.icon:hover {
    color: crimson;
    /* color: #3f51b5; */
  }